.head{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    float: left;
    width: 50%;
}

.login{
    float: left;
    text-align: center;
}

#record{
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.left_part{
    float: left;
    width: 45%
}

.right_part{
    float: right;
    width: 45%
}
.main {
    width: 80%;
}
.clear{
    clear: both;
}

div.hr {
  height: 15px;
  clear: both;
}

table.tb {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.tb th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.tb td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.pg {
    margin: 20px 0 0 10px;

}

.current_link {
    margin: 0 10px 0 10px;
    font-family: verdana,arial,sans-serif;
    font-size:14px;
}

a:visited {
    color: blue;
}

.edit{
    margin: 10px 0 10px 0;  
}

.field{
    margin: 10px 0 10px 0;
}
#preview{
    margin: 10px 0 10px 10px;
}
#error{
    color: red;
}
#is_error{
    font-size: 18px;
    margin: 10px 0 20px 50px;
    font-weight: bold;

}